@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui" {
  themes: light, dark
}

[data-theme="light"] {
  --color-primary: #01c7ba;
  --color-secondary: #440236;
  --color-error: #f72c5b;
  --color-neutral: #0f0e0e;
  --color-white: #f9f8f6;
}



[data-theme="dark"] {

  --color-primary: #c8a294;
  --color-secondary: #50045f;
  --color-neutral: #0f0e0e;
  --color-error: #f72c5b;
  --color-white: #f9f8f6;

}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));